{% extends "core/base.html" %}
{% load static %}
{% block title %}
    Projetos - Meu Portfólio
{% endblock title %}
{% block header_title %}
    Meus Projetos
{% endblock header_title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'portfolio/css/projects.css' %}">
{% endblock extra_css %}
{% block content %}
    {% for project in projects %}
        <div class="project-card">
            <span class="type type-{{ project.project_type }}">Projeto {{ project.get_project_type_display }}</span>
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}</p>
            <a href="{{ project.git_link }}"
               target="_blank"
               rel="noopener noreferrer">Ver projeto</a>
        </div>
    {% endfor %}
{% endblock content %}
